############################
# npm
############################
node_modules
npm-debug.log
.node_history
yarn.lock
package-lock.json

############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_Store
*#
*~
.idea
*sublime*
nbproject
countries.json
airports.json

############################
# Tests
############################
testApp
coverage
.nyc_output

############################
# Other
############################
.env
.envrc
.next
.vercel
src/is-ip.js
src/iso-3166.js
src/kdbush.js
src/geokdbush.js
